$primary: #a9b367;


#__next{

  .navbar{


    .navbar-nav {

      flex-wrap: wrap;
      width: 100%;


    }


  }

  .main-hero{
    position: relative;
    min-height: 50vh!important;

    .img-overlay{
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #FFF;
      opacity: 0.5;
    }
    .main-hero-container{
      position: absolute;
      z-index: 5;
      width: 100%;
      bottom: 0;
      left: 50%;
      margin-left: -150px;
    }

    img{
      object-fit: cover;
      object-position: 57.1% 45.1%;
    }
  }

  a{
    color: #000;
  }

  a:hover, a:active{
    color: $primary;
  }

  .btn.btn-primary{
    background-color: $primary;
    border-color: darken($primary, 20%)
  }

  .logo-text-left{
    color: $primary;
  }

  .logo-text-right{
    color: #000000;
  }

  .card-title{
    color: #FFF;
  }

  .card {
    .btn{
      display: block;
    }
  }

  .home-carousel {

    height: 500px;
    display: flex;

    .carousel-caption{

      top: 1rem;
      left: 1rem;
      right: 1rem;
      bottom: 1rem;
      background-color:rgba(255, 255, 255, 0.90);

      color: #000;

      &.odd{
        background-color: rgba(169, 179, 103, 1);
      }
      .container{
        .col{
          text-align: left;
        }
      }
    }

    .carousel-control-next, .carousel-control-prev{
      z-index: 15;
    }
  }
}



@media (min-width: 768px) {
  #__next {

    .carousel-caption.x-center{
      left: 40%;
    }
    .home-carousel {
      .carousel-caption {

        &.left {
          left: 10%;
          right: auto;
        }

        &.right {
          right: 10%;
          left: auto;
        }

        &.bottom {
          bottom: 10%;
          top: auto;
        }

        &.top {
          top: 10%;
          bottom: auto;
        }

        &.x-center {
          left: 40%;
          margin-left: -260px;
        }

        &.y-center {
          top: 35%;
        }
      }
    }

    .navbar {
      padding: 1rem;
    }

    .main-hero{

      .main-hero-container{
        width: 30rem;
      }

    }

    .home-carousel {

      height: 500px;
      display: flex;

      .carousel-caption {

        background-color:rgba(255, 255, 255, 0.75);
        height: 10rem;
        top: 10%;
        width: 50rem;

        color: #000;

        &.odd{
          background-color: rgba(169, 179, 103, 0.75);
        }
      }


    }
  }
}
